{% extends "base_dash.html" %}

{% block title %}Profile Settings{% endblock %}
{% set active = "profile" %}

{% block css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block page_title %}
Profile Settings
{% endblock %}

{% block content %}

<!-- PROFILE PHOTO CARD -->
<div class="card">
  <h3>Profile Photo</h3>
  <p class="muted">Upload a professional photo</p>

  <div class="profile-photo">
    <div class="avatar"></div>
    <button class="upload-btn">Upload Photo</button>
  </div>
</div>

<!-- BASIC INFO CARD -->
<div class="card">
  <h3>Basic Information</h3>

  <div class="form-grid">
    <input type="text" name="full_name" placeholder="Full Name">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="phone" placeholder="Phone">
    <input type="text" name="location" placeholder="Location">
    <textarea placeholder="Short Bio"></textarea>
  </div>

  <!-- SOCIAL LINKS -->
  <section class="card-section">
    <h3>Social Links</h3>

    <div class="form-grid">
      <input type="url" name="Social_github" placeholder="Github">
      <input type="url" name="Social_linkedin" placeholder="linkedin">
      <input type="url" name="resume_pdf" placeholder="Resume.pdf">
    </div>
  </section>



  <!-- Skills Section -->
  <h2 class="section-title">Skills</h2>

  <!-- Skill Input Form -->
  <div id="skillsForm" class="skills-form">
    <div class="form-group">
      <label for="skill_name"></label>
      <input type="text" id="skill_name" name="skill_name" placeholder="e.g. Python" required>
    </div>

    <div class="form-group">
      <label for="skill_level"></label>
      <input type="number" id="skill_level" name="skill_level" placeholder="0 - 10" required>
    </div>
  </div>

  <!-- Skills will appear here -->
  <div id="skillsForm" class="skills-form">
    <div class="form-group">
      <label for="skill_name"></label>
      <input type="text" id="skill_name" name="skill_name" placeholder="e.g. Python" required>
    </div>

    <div class="form-group">
      <label for="skill_level"></label>
      <input type="number" id="skill_level" name="skill_level" placeholder="0 - 10" required>
    </div>
  </div>

  <div id="skillsForm" class="skills-form">
    <div class="form-group">
      <label for="skill_name"></label>
      <input type="text" id="skill_name" name="skill_name" placeholder="e.g. Python" required>
    </div>

    <div class="form-group">
      <label for="skill_level"></label>
      <input type="number" id="skill_level" name="skill_level" placeholder="0 - 10" required>
    </div>
  </div>

  <div id="skillsForm" class="skills-form">
    <div class="form-group">
      <label for="skill_name"></label>
      <input type="text" id="skill_name" name="skill_name" placeholder="e.g. Python" required>
    </div>

    <div class="form-group">
      <label for="skill_level"></label>
      <input type="number" id="skill_level" name="skill_level" placeholder="0 - 10" required>
    </div>
  </div>


  <!-- projects -->
  <section class="projects-section">
    <h2 class="section-title">Projects</h2>

    <div class="project-card">
      <h4>Project 1</h4>
      <div class="form-grid">
        <input type="text" name="project_title[]" placeholder="Project Title">
        <input type="text" name="tech_stack[]" placeholder="Tech Stack">
        <input type="url" name="demo_link[]" placeholder="Demo Link">
        <input type="url" name="github_link[]" placeholder="GitHub Link">
        <textarea name="project_description[]" placeholder="Project Description"></textarea>
      </div>
    </div>

    <div class="project-card">
      <h4>Project 2</h4>
      <div class="form-grid">
        <input type="text" name="project_title[]" placeholder="Project Title">
        <input type="text" name="tech_stack[]" placeholder="Tech Stack">
        <input type="url" name="demo_link[]" placeholder="Demo Link">
        <input type="url" name="github_link[]" placeholder="GitHub Link">
        <textarea name="project_description[]" placeholder="Project Description"></textarea>
      </div>
    </div>
  </section>




</div>



{% endblock %}